/* 

vCard - CSS File

*/

body {
	font-family:Arial, Tahoma, Verdana;
	font-size:11px;
	margin:0;
	margin-top:5%;
	padding:0;
	color:#000000;
	line-height:18px;
	background-repeat:repeat;
	background-color:#c9c9c9
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clr{clear:both}
form{margin:0; padding:0;}
hr {
	border: 0;
	color: #dedede;
	background-color: #dedede;
	height: 1px;
	margin:10px 0px 6px 0px;
	padding:0px;
}
/* heading */
h1, h2, h3, h4, h5 {margin-bottom:15px; font-weight:normal;}
h1 {font-size:24px; line-height:26px;}
h2 {font-size:20px; line-height:22px;}
h3 {font-size:18px; line-height:20px;}
h4 {font-size:12px; line-height:14px;}
h5 {font-size:12px; line-height:14px; margin:3px 0px; padding:0px;letter-spacing:1px;}

/* links */
a {color:#545353;text-decoration:underline;}
a:hover{color:#3f3e3e;}
a img{border:none}
.imgleft{float:left; padding-right:10px;}
.imgright{float:right; padding-left:10px;}
/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	font-size:11px;
	line-height:18px;
	margin-bottom:12px;
}
ul, ol {
	margin:10px 0 35px 40px;
}
li ol,
li ul
{
	font-size:1.0em;
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
blockquote {
	margin:25px 0 25px 0px;
	padding:10px 20px 10px 20px;
	background-color:#cccccc;
	border:solid 1px ;
}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #000;
	padding:15px 10px;
}
/*** END OF GLOBAL  ***/

/*** CONTAINER ***/
#container{width:auto; margin:auto; position:relative; padding:0 0;}
#glowbottom{background-image:url(../images/glow-bottom.gif); width:auto; margin:0 auto; background-repeat:no-repeat; background-position:bottom; height:59px; z-index:1;  margin-top:-10px;}
#content{width:662px; margin:0 auto; position:relative; z-index:2}
#bg-content-repeat1{background-image:url(../images/bg-contentrepeat1.png); background-repeat:repeat-y; min-height:364px;}
#bg-content-repeat2{background-image:url(../images/bg-contentrepeat2.png); background-repeat:no-repeat; min-height:364px;}
#bg-content-top{background-image:url(../images/bg-contenttop.png); background-repeat:no-repeat; background-position:top; height:26px;}
#bg-content-bottom{background-image:url(../images/bg-contentbottom.png); background-repeat:no-repeat; background-position:bottom; height:23px;}
#main{padding:0px 80px;}
/*** END CONTAINER ***/


/*** TOP ***/
#top{width:502px}
#logo{width:260px; float:left;}
/* navigation */
#navtop{width:242px; float:left;}
#navtop ul{margin:0px; list-style-type:none; padding:10px 0px 0px 0px; float:right}
#navtop ul li{margin:0px 4px; list-style-type:none; padding:0px 0px 0px 0px; float:left} 
#navtop ul li a{height:27px; width:28px; display:block; float:left}
#navtop ul li.nav1 a{background-image:url(../images/nav-home-active.jpg); background-repeat:no-repeat;}
#navtop ul li.nav1 a.activeSlide{background-image:url(../images/nav-home.jpg); background-repeat:no-repeat;}
#navtop ul li.nav2 a{background-image:url(../images/nav-about.jpg); background-repeat:no-repeat;}
#navtop ul li.nav2 a.activeSlide{background-image:url(../images/nav-about-active.jpg); background-repeat:no-repeat;}
#navtop ul li.nav3 a{background-image:url(../images/nav-work.jpg); background-repeat:no-repeat;}
#navtop ul li.nav3 a.activeSlide{background-image:url(../images/nav-work-active.jpg); background-repeat:no-repeat;}
#navtop ul li.nav4 a{background-image:url(../images/nav-social.jpg); background-repeat:no-repeat;}
#navtop ul li.nav4 a.activeSlide{background-image:url(../images/nav-social-active.jpg); background-repeat:no-repeat;}
#navtop ul li.nav5 a{background-image:url(../images/nav-contact.jpg); background-repeat:no-repeat;}
#navtop ul li.nav5 a.activeSlide{background-image:url(../images/nav-contact-active.jpg); background-repeat:no-repeat;}
#nav a:focus { outline: none; }
/*** END TOP ***/

/*** PAGE CONTENT ***/
#maincontent{width:502px; padding:0px 0px 40px 0px; height:310px; overflow:hidden}
.page{padding:35px 0px 0px 0px; background-color:#fff}

/* homepage */


/* about */
ul.l1{margin:20px 0px 20px 10px; padding:0px; list-style-type:none;}
ul.l1 li{background-image:url(../images/list.gif); background-position:0px 4px; background-repeat:no-repeat; padding:0px 0px 0px 22px}

/* work */
#work{height:150px; width:502px;}
ul.work{margin:0px 0px 0px 0px;padding:0px; list-style-type:none;}
ul.work li{list-style-type:none; float:left; display:inline; padding:5px 11px 5px 11px;}
#work-nav #next{width:36px;cursor:pointer; float:left}
#work-nav #prev{width:36px; cursor:pointer; float:left}
#work-nav{padding-left:10px; margin-top:30px;}

/* social */
ul.social{margin:20px 0px 0px 0px; padding:0px; list-style-type:none;}
ul.social li{list-style-type:none; float:left; display:inline; margin:0px 5px 12px 5px; background-image:url(../images/box.gif); background-repeat:no-repeat; width:223px; height:39px; padding:6px 8px}
ul.social li a, ul.social li a:visited{text-decoration:none;}
span.t1{font-size:18px;}

/* contact */
#left-content{ float:left; width:291px; }
#right-content{ float:right; width:200px; padding-top:13px;}
form{margin:0; padding:0;}
fieldset{border:0px;}
#contact_form{margin:0 auto; }
label{margin:3px 0px;}
label.sp { width:3px;}
span.error{color:red;text-align:left;}
#message{ margin-left:0px;}
#message h2	{}
#message p{margin:6px 0px; }
input.text-input{width: 220px; margin:3px 0px 6px 0px; padding:3px 2px; border:solid 1px #e4e4e4; vertical-align:middle}
textarea.text-input{ margin:0px 8px 4px 0px; padding: 3px 2px; border:solid 1px #e4e4e4; vertical-align:top; width:220px; font-family:Arial, Verdana, tahoma; font-size:12px;}
#contact_form input:focus, #contact_form textarea:focus {border:solid 1px #e4e4e4; }
textarea.text-input{width: 220px; margin:0px}
span.error{color:red;text-align:left;}
input.button{background-color:#cccccc; color:#000 !important; padding:5px 10px 8px 10px; width:100px; height: 30px; display:block; margin-top:10px; border:0px;cursor:pointer;}
/*** END PAGE CONTENT ***/


